* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", arial, helvetica, sans-serif;
}
body {
    background-image: url("/imagens/R.jpg") 
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container {
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-container {
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #8a8692;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.video-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #8a8692;
    padding: 10px 10px;
    border-radius: 30px 45px 30px 45px;
    box-shadow: 0px 10px 40px #00000056;
}
ul li:hover {
    background: #ffffff;
}

button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #8a8692;
    padding: 10px 10px;
    border-radius: 30px 45px 30px 45px;
}

button:hover {
    background: #ffffff;
}